</main>
<!-- container -->
<p class="text-center">&COPY; cmsShoppingcart</p>
<br><br><br>
<hr>
<script>
  $(function () {
    if ($("textarea#ta").length) {
      CKEDITOR.replace("ta");
    }

    $("a.confirmDeletion").on("click", function () {
      if (!confirm("Confirm deletion")) return false;
    });
  });
</script>
<!-- <script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#imgPreview").attr("src", e.target.result).width(300).height(200);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#img").change(function () {
    readURL(this);
  });
</script> -->

<script>
  window.jQuery ||
  document.write(
    '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
      );
    </script>
    <!-- gallery -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/basic.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/dropzone.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/dropzone.js"></script> -->
</body>
</html>
