</main>
<!-- container -->
<p class="text-center">&COPY; cmsShoppingcart</p>
<br><br><br>
<hr>
<script>
  $(function () {
    if ($("textarea#ta").length) {
      CKEDITOR.replace("ta");
    }

    $("a.confirmDeletion").on("click", function () {
      if (!confirm("Confirm deletion")) return false;
    });
  });
</script>
<!-- <script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#imgPreview").attr("src", e.target.result).width(300).height(200);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#img").change(function () {
    readURL(this);
  });
</script> -->

</body>
</html>
