<% include _layouts/header %>
<body class="text-center">
  <form method="post" action="/users/register">
    <h1 class="h3 mb-3 fw-normal"><%= title %></h1>
    <div class="form-floating">
      <input
        name="name"
        type="text"
        class="form-control"
        placeholder="UserName"
      />
      <label>Name</label>
    </div>
    <div class="form-floating">
      <input
        name="email"
        type="text"
        class="form-control"
        placeholder="Email"
      />
      <label>Email</label>
    </div>
    <div class="form-floating">
      <input
        name="username"
        type="text"
        class="form-control"
        placeholder="UserName"
      />
      <label>UserName</label>
    </div>
    <div class="form-floating">
      <input
        name="password"
        type="password"
        class="form-control"
        placeholder="PassWord"
      />
      <label>PassWord</label>
    </div>
    <div class="form-floating">
      <input
        name="password2"
        type="password"
        class="form-control"
        placeholder="Comfirm PassWord"
      />
      <label>Confirm Password</label>
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Register</button>
  </form>
</body>
<% include _layouts/footer %>
